body {
  text-align: center;
  font-family: "Lexend Exa", sans-serif;
  background: #fef9f8;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Rubik Mono One", sans-serif;
}
h3 {
  font-size: 25px;
}

:root {
  --primary-color: black;
  --background: #fdf0e5;
  --text-align: center;
}
#main-button {
  background: var(--background);
  border: none;
  padding: 20px 20px;
  margin: 10px 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  color: brown;
}
.name {
  color: var(--primary-color);
  text-align: var(--text-align);
  padding: 150px 10px;
}

.origin {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.styleName {
  font-size: 20px;
  font-family: "Rubik Mono One", sans-serif;
}
.weatherName {
  font-size: 20px;
  font-family: "Rubik Mono One", sans-serif;
}
.row {
  margin: 50px 10px;
}
.project {
  display: block;
  background: var(--background);
  color: brown;
  border: none;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;
}
#about-me {
  font-weight: bold;
  margin: 20px 20px;
  font-size: 35px;
}
.border-light {
  border-color: pink !important;
}
#my-email {
  text-decoration: none;
  color: rgb(39, 3, 3);
  font-size: 15px;
}
.mainBody {
  margin-top: 100px;
}
@media (max-width: 600px) {
  .styleSite,
  .weatherSite {
    display: none;
  }
  h2,
  #about-me {
    font-size: 20px;
  }
  h1,
  h3,
  #contact {
    font-size: 20px;
  }
}
.navbar {
  background: #f69c7e;
}
.work {
  padding: 70px 20px;
  line-height: 3;
}
.btn-branding {
  border: 1px solid black;
}
.btn-branding:hover {
  background: #f4dbd2;
}
